<form method="POST" action="{{ path }}" role="form" {{ novalidate }}>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
            {{ form_rest(form) }}
        </div>
    </div>
</form>
